<ol class="breadcrumb">
    <li class="active">Home</a></li>
</ol>

<br/>

<%- partial ('partials/statusmessage.ejs') %>

<h2>Disability Claimants</h2>
<table class="table table-striped table-bordered">
  <tr>
    <th>ID</th>
    <th>First Name</th>
    <th>Last Name</th>
    <th>Email</th>
    <th>Password</th>
    <th>Home Phone</th>
    <th>Disability</th>
    <th>Approved</th>
  </tr>

  <% if(typeof disabilityclaimants != "undefined" && disabilityclaimants.length > 0){ %>
    <% disabilityclaimants.forEach(function(disabilityclaimant){ %>

      <tr>
        <td><%= disabilityclaimant.id %></td>
        <td><%= disabilityclaimant.firstName %></td>
        <td><%= disabilityclaimant.lastName %></td>
        <td><%= disabilityclaimant.email %></td>
        <td><%= disabilityclaimant.password %></td>
        <td><%= disabilityclaimant.homePhone %></td>
        <td><%= disabilityclaimant.disability %></td>
        <td><%= disabilityclaimant.approved %></td>
      </tr>

    <% }) %>
  <% }else{ %>
      <tr>
        <td colspan="8">0 records found</td>
      </tr>
  <% } %>
  
</table>


